{% extends 'base.html.twig' %}

{% block bodyAtt %}class="fixed-left"{% endblock %}

{% block content %}
    <div class="placeholder" style="margin-top: 50px">&nbsp;</div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card-box" style="margin-top: 50px">
                <h4 class="page-title" style="padding-right: 10px;"><i
                            class="glyphicon glyphicon-time"></i> Registro Histórico de Llamadas
                </h4>
                <span class="label label-danger">Pendientes: {{ 'pendientes' }}</span>
                <span class="label label-info">Atendidas Pendientes: {{ 'atendidasPendientes' }}</span>
                <a href="{{ path('registrarLlamada') }}">
                    <button class="btn btn-success btn-bordered waves-effect waves-light"
                            style="float: right;"><span class="mdi mdi-plus"></span> Nueva
                    </button>
                </a>
                <hr>
                <div class="clearfix"></div>
                {{ form_start(formFiltro) }}
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">Filtros de busqueda</div>
                            <div class="card-box">
                                <div class="row">
                                    <label class="col-sm-2">Fecha Desde:</label>
                                    <div class="col-sm-4">
                                        {{ form_widget(formFiltro.fechaDesde) }}
                                    </div>
                                    <label class="col-sm-2">Cliente:</label>
                                    <div class="col-sm-4">
                                        {{ form_widget(formFiltro.clienteRel) }}<br>
                                    </div>
                                </div>

                                <div class="row">
                                    <label class="col-sm-2">Fecha Hasta:</label>
                                    <div class="col-sm-4">
                                        {{ form_widget(formFiltro.fechaHasta) }}
                                    </div>
                                    <label class="col-sm-2">Contacto:</label>
                                    <div class="col-sm-4">
                                        {{ form_widget(formFiltro.nombreContacto) }}
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-sm-12" style="text-align: right">
                                        {{ form_widget(formFiltro.BtnFiltrar) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{ form_end(formFiltro) }}
                <div class="row">
                    <div class="col-md-12">
                        <div class="card-box">
                            <div class="page-title-box">
                                <h4 class="header-title m-t-0 m-b-30"><i
                                            class="glyphicon glyphicon-time"></i>
                                    Histórico de Llamadas</h4>

                                <table id="llamadas-general" class="table table-hover m-0">
                                    <thead>
                                    <tr>
                                        <th>Fecha</th>
                                        <th>Cliente</th>
                                        <th>Cat.</th>
                                        <th>Módulo</th>
                                        <th>Contacto</th>
                                        <th>Teléfono</th>
                                        <th>Descripción</th>
                                        <th>Recibe</th>
                                        <th>Gestiona</th>
                                        <th>Gestión</th>
                                        <th>Solución</th>
                                        {#<th>At</th>#}
                                        {#<th>So</th>#}
                                        {#<th>Ed</th>#}
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for llamada in llamadas %}

                                        <tr>
                                            <td>{{ llamada.fechaRegistro|date('y-m-d H:i') }}</td>
                                            <td>
                                                <strong>{{ llamada.clienteRel.nombreComercial }}</strong>
                                            </td>
                                            <td>
                                                {% if llamada.codigoCategoriaLlamadaFk == 0 %}
                                                    <span class="label label-danger">N/A</span>
                                                {% elseif llamada.codigoCategoriaLlamadaFk == 1 %}
                                                    <span class="label label-default">{{ llamada.categoriaRel.nombre[:3] }}</span>
                                                {% elseif llamada.codigoCategoriaLlamadaFk == 2 %}
                                                    <span class="label label-info">{{ llamada.categoriaRel.nombre[:3] }}</span>
                                                {% elseif llamada.codigoCategoriaLlamadaFk == 3 %}
                                                    <span class="label label-orange">{{ llamada.categoriaRel.nombre[:3] }}</span>
                                                {% endif %}
                                            </td>
                                            <td>{{ llamada.codigoModuloFk }}</td>
                                            <td>{{ llamada.nombreContacto }}</td>
                                            <td>{{ llamada.telefono }} - ({{ llamada.extension }})
                                            </td>
                                            <td>{{ llamada.descripcion }}</td>
                                            <td>{{ llamada.codigoUsuarioRecibeFk }}</td>
                                            <td>{{ llamada.codigoUsuarioAtiendeFk }}</td>
                                            <td>{% if llamada.fechaGestion != null %}{{ llamada.fechaGestion|date('y-m-d H:i') }}{% endif %}</td>
                                            <td>{% if llamada.fechaSolucion!= null %}{{ llamada.fechaSolucion|date('y-m-d H:i') }}{% endif %}</td>
                                        </tr>
                                    {% endfor %}
                                    {#{{ form_end(form) }}#}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end col -->
                <div class="btn-group" style="float: left">
                    <div class="btn btn-default ">Registros <span
                                class="badge">{{ llamadas.getTotalItemCount }}</span></div>
                </div>
                <div class="btn-group"
                     style="float: left;margin: 0px;padding-top: 0px">{{ knp_pagination_render(llamadas) }}</div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!-- end col -->
{% endblock content %}