{% extends 'base.html.twig' %}

{% block bodyAtt %}class="fixed-left"{% endblock %}

{% block content %}
    {{ form_start(form) }}
    <div class="row">
        <div class="col-xs-12">
            <div class="page-title-box">
                <h4 class="page-title" style="padding-right: 10px;"><i
                            class="mdi mdi-phone-in-talk"></i> Errores </h4>
            </div>
        </div>
    </div>
    {#<div class="row">#}
    {#<div class="col-md-12">#}
    {#<div class="card-box">#}
    {#<h4 class="header-title m-t-0 m-b-30"><i class="mdi mdi-phone-in-talk"></i> Listado#}
    {#de Errores</h4>#}
    {#<div class="table-responsive">#}
    {#<div class="card-box">#}
    {#<div class="row">#}
    {#<div class="col-sm-4">#}
    {#{{ form_widget(form.cliente) }}#}
    {#</div>#}
    {#<div class="col-md-11" style="text-align: right;padding: 10px;">#}
    {#{{ form_widget(form.btnFiltrar) }}#}
    {#</div>#}
    {#</div>#}
    {#</div>#}
    {#<table id="casos-general" class="table table-hover m-0 table-oro ">#}
    {#<thead>#}
    {#<tr>#}
    {#<th>Id</th>#}
    {#<th>Cliente</th>#}
    {#<th>Mensaje</th>#}
    {#<th>Fecha</th>#}
    {#</tr>#}
    {#</thead>#}
    {#<tbody>#}
    {#{% for error in errores %}#}
    {#<tr>#}
    {#<td>{{ error.id }}</td>#}
    {#<td>{{ error.cliente }}</td>#}
    {#<td>{{ error.mensaje }}</td>#}
    {#<td>{{ error.fecha|date }}</td>#}
    {#</tr>#}
    {#{% endfor %}#}

    {#</tbody>#}
    {#</table>#}
    {#</div> <!-- end card -->#}
    {#</div>#}
    {#</div>#}
    {#<!-- end col -->#}
    {#</div>#}
    <div class="row">
        <div class="col-md-12">
            <div class="card-box" style="margin-top: 50px">
                {#<div class="row">#}
                {#<div class="col-md-8 col-md-offset-2">#}
                {#<div class="input-group m-t-10">#}
                {#{{ form_widget(form.cliente, {'attr':{'class':'form-control'}}) }}#}
                {#<span class="input-group-btn">#}
                {#{{ form_widget(form.btnFiltrar, {'attr':{'class':'btn waves-effect waves-light btn-custom'}}) }}#}
                {#</span>#}
                {#</div>#}
                {#</div>#}
                {#</div>#}
                <hr>
                {% for arErrorAtendido in arErroresAtendido %}

                    <div class="search-item">
                        <h3 class="h5 font-600 m-b-5"><a href="#">{{ arErrorAtendido.codigoErrorPk }}</a></h3>
                        <h6>Id: {{ arErrorAtendido.codigoErrorPk }} Código: {{ arErrorAtendido.codigo }}
                            Fecha:{{ arErrorAtendido.fecha|date('d/m/Y') }}</h6>
                        <div class="font-13 text-success m-b-10">
                            {{ arErrorAtendido.url }}
                        </div>
                        <p class="m-b-0">
                            <a data-toggle="collapse" href="#{{ arErrorAtendido.codigoErrorPk }}"
                               aria-expanded="false"
                               aria-controls="collapseExample">{{ arErrorAtendido.mensaje|slice(0,100) }}</a>
                        </p>
                        <div class="collapse" id="{{ arErrorAtendido.codigoErrorPk }}">
                            <div class="card card-block">
                                {{ arErrorAtendido.mensaje }}
                            </div>
                        </div>
                    </div>
                    <div style="float: right">
                        <a href="{{ path('errorAtender', { 'codigoError':  arErrorAtendido.codigoErrorPk }) }}"
                           class="btn btn-success" data-toggle="tooltip"
                           data-placement="top" title="Atender al error"
                           data-original-title="Tooltip on top"><span
                                    class="glyphicon glyphicon-ok"></span></a>
                        <a href="{{ path('errorAtender', { 'codigoError':  arErrorAtendido.codigoErrorPk }) }}"
                           class="btn btn-info" data-toggle="tooltip"
                           data-placement="top" title="Enviar Correo solucionado al cliente"
                           data-original-title="Tooltip on top"><span
                                    class="glyphicon glyphicon-send"></span></a>
                    </div>
                    <div class="clearfix"></div>
                    <hr>

                {% endfor %}


                {#<div class="btn-group" style="float: left">#}
                    {#<div class="btn btn-default ">Registros <span#}
                                {#class="badge">{{ arErroresAtendido.getTotalItemCount }}</span></div>#}
                    {#<div class="btn-group"#}
                         {#style="float: left;margin: 0px;padding-top: 0px">{{ knp_pagination_render(arErroresAtendido) }}</div>#}
                {#</div>#}
            </div>
        </div>
    </div>
    {{ form_end(form) }}

{% endblock content %}