{% extends 'base.html.twig' %}

{% block bodyAtt %}class="fixed-left"{% endblock %}

{% block body %}

    <div id="wrapper">
        {{ include('bloquesGenerales/menuEncabezado.html.twig') }}

        {{ include('bloquesGenerales/menuIzquierdo.html.twig') }}
        <div class="content-page">
            <!-- Start content -->
            <div class="content">
                <div class="container">
                    {% block content %}
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="page-title-box">
                                    <h4 class="page-title" style="padding-right: 10px;"><i class="mdi mdi-phone-in-talk"></i> Errores </h4>
                                </div>
                            </div>
                        </div>
                        {{form_start(form) }}
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card-box">
                                    <h4 class="header-title m-t-0 m-b-30"><i class="mdi mdi-phone-in-talk"></i> Listado de Errores</h4>
                                    <div class="table-responsive">
                                        <div class="card-box">
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    {{ form_widget(form.cliente) }}
                                                </div>
                                                <div class="col-md-11" style="text-align: right;padding: 10px;">
                                                    {{ form_widget(form.btnFiltrar) }}
                                                </div>
                                            </div>
                                        </div>
                                        <table id="casos-general" class="table table-hover m-0 table-oro ">

                                            <thead>
                                            <tr>
                                                <th>Id</th>
                                                <th>Cliente</th>
                                                <th>Mensaje</th>
                                                <th>Fecha</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for error in errores %}
                                                <tr>
                                                    <td>{{ error.id }}</td>
                                                    <td>{{ error.cliente }}</td>
                                                    <td>{{ error.mensaje }}</td>
                                                    <td>{{ error.fecha|date }}</td>
                                                </tr>
                                            {% endfor %}

                                            </tbody>
                                        </table>
                                    </div> <!-- end card -->
                                </div>
                            </div>
                            <!-- end col -->

                        </div>
                        {{ form_end(form) }}
                    {% endblock content %}
                </div> <!-- container -->
            </div> <!-- content -->
        </div>
        {{ include('bloquesGenerales/pie.html.twig') }}
    </div>
{% endblock %}