    {% extends 'base.html.twig' %}

{% block bodyAtt %}class="fixed-left"{% endblock %}

{% block body %}

    <div id="wrapper">
        {{ include('bloquesGenerales/menuEncabezado.html.twig') }}
        {{ include('bloquesGenerales/menuIzquierdo.html.twig') }}
        <div class="content-page">
            <!-- Start content -->
            <div class="content">
                <div class="container">
                    {% block content %}
                        <table  class="table table-striped table-bordered table-condensed table-hover">
                            <tr>
                                <th>USUARIO</th>
                                <th>C_T</th>
                            </tr>
                            {% for arUsuario in arUsuarios %}
                                <tr>
                                    <td>{{ arUsuario.codigoUsuarioPk }}</td>
                                    <td>{{ arUsuario.codigoTareaFk }}
                                        {% if arUsuario.codigoTareaFk != null %}
                                            {{ arUsuario.tareaRel.fechaEjecucion | date('Y-m-d H:i') }}
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    {% endblock content %}
                </div> <!-- container -->
            </div> <!-- content -->
        </div>
        {{ include('bloquesGenerales/pie.html.twig') }}
    </div>
{% endblock %}